{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<style>
    /* Styles CSS */
    .image-reduite {
        width:125px;
        /* Largeur souhaitée */
        height:125px;
        /* Hauteur souhaitée */
    }

    .logo-gauche {
        margin-left: 0;
    }

    .navbar-custom {
        min-height: 40px; /* Hauteur personnalisée pour la navbar */
    }

    .navbar-center {
        display: flex;
        justify-content: center;
    }
</style>

    <div class=" video-container d-flex justify-content-center couleur-navigation">
        <video id="myVideo" class="d-block video" width="900" height="450" autoplay muted controls loop>
          <source src="{{ asset('video/pizza_-_176 (360p).mp4') }}" type="video/mp4">
          Votre navigateur ne prend pas en charge la lecture de vidéos HTML5.
        </video>

      </div>
      <div class="taillelogoaccueil d-flex justify-content-center align-items-center couleur-navigation carousel-item">
        <!--Corps de la page avec le slogan ainsi que quelques images-->
        <ul class="nav-link couleurslogan "><u class="fs-1 taillelogoaccueil"><b>Large choix sur vos produits ! </b></u>
          <p class="fs-4 taillelogoaccueil">Bienvenue dans l'ère culinaire de The District :</p>
          <p>une fusion exquise de saveurs rapides et de satisfaction gourmande,
            où chaque bouchée vous transporte vers un monde de délices.
          
          T'as dis quoi ? Feur mec !</p>
        </ul>
        <br><br><br>
      </div><!--Corps de la page avec le slogan-->
  </div>

{% endblock %}
